<div class="container px-5 my-5">
  <form id="contactForm" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <input
        class="form-control"
        id="naam"
        type="text"
        placeholder="Naam"
        formControlName="name"
        required
        />
        <label class="form-label" for="naam">Naam</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        id="email"
        type="email"
        placeholder="Email"
        data-sb-validations="email"
        formControlName="email"
        required
      />
      <label class="form-label" for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        id="wachtwoord"
        type="text"
        placeholder="Wachtwoord"
        formControlName="password"
        required
      />
      <label class="form-label" for="wachtwoord">Wachtwoord</label>
    </div>
    <div class="pb-3">
      <label for="name">Geboortedatum: </label>
      <input type="date" id="name" formControlName="birthday" />
    </div>
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" id="submitButton" type="submit">
        Aanmaken
      </button>
    </div>
  </form>
</div>
