<div class="details-container">
  <div *ngIf="user">
    <h2>{{ user.name }} Details</h2>
    <div><span>id: </span>{{ user.id }}</div>

    <div>
      <label for="name">User name: </label>
      <input id="name" [(ngModel)]="user.name" placeholder="name" />
    </div>
    <div>
      <label for="name">User email: </label>
      <input id="name" [(ngModel)]="user.email" placeholder="email" />
    </div>
    <div>
      <label for="name">User password: </label>
      <input id="name" [(ngModel)]="user.password" placeholder="password" />
    </div>
    <div>
      <label for="name">User birthday: </label>
      <input
        type="date"
        id="name"
        [value]="user.birthday | date: 'yyyy-MM-dd'"
      />
    </div>
  </div>
</div>
