<img
  src="../assets/images/wiki-banner.png"
  class="img-fluid"
  alt="wiki-banner"
/>

<div class="title-tab border-bottom border-2 rounded-bottom border-dark shadow-lg d-flex justify-content-center">
  <div class="searchbar w-25 py-1">
    <form class="d-flex input-group">
      <input
        type="search"
        class="form-control"
        placeholder="Zoek een game"
        aria-label="Search"
      />
      <button class="btn srch-btn" type="button">Zoek</button>
    </form>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center flex-wrap">
  <div *ngFor="let game of games" routerLink="/game/{{ game.id }}">
    <div class="box">
      <div class="body">
        <div class="imgContainer">
          <img src="{{ game.image }}" alt="" />
        </div>
        <div
          class="content d-flex flex-column align-items-center justify-content-center"
        >
          <div class="back-text">
            <h2 class="fs-5">{{ game.name }}</h2>
            <p class="fs-6">{{ game.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
