/* You can add global styles to this file, and also import other style files */
.navbar {
  position: relative;
  background-color: #1390bd;
}

.navbar .btn {
  background-color: orangered;
  transition: .2s ease-in-out 0s;
}

.navbar .btn:hover {
  background-color: orangered;
  transform: scale(1.25);
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -33px !important; /* 50% of your logo width */
  display: block;
}

.nav-icon {
  width: 30px;
}

body {
  padding-top: 60px;
  background-color: #202224 !important;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
