<div *ngIf="user">
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card profile-card">
            <div class="p-4 text-black" style="background-color: #f8f9fa">
              <h5>{{ user.name }}</h5>
              <p>{{ user.email }}</p>
              <p>{{ user.birthday | date: 'dd/MM/yyyy' }}</p>
              <div class="d-flex justify-content-end text-center py-1">
                <div class="px-2">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-mdb-ripple-color="dark"
                    style="z-index: 1"
                  >
                    Aanpassen
                  </button>
                </div>
                <div class="px-2">
                  <button
                    type="button"
                    class="btn btn-outline-dark px-2"
                    data-mdb-ripple-color="dark"
                    style="z-index: 1"
                    (click)="logout()"
                  >
                    Log uit
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">Vrienden:</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">NR.</th>
                      <th scope="col">Naam</th>
                      <th scope="col">GeboorteDatum</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let friend of user.friends; let i = index"
                      class="data-tr"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ friend.name }}</td>
                      <td>{{ friend.birthday | date: 'dd/MM/yyyy' }}</td>
                      <td>
                        <i class="bi bi-trash3-fill"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mb-5">
                <p class="lead fw-normal mb-0">Gemaakte reviews:</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">NR.</th>
                      <th scope="col">Game</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Beoordeeld op</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let review of user.reviews; let i = index"
                      class="data-tr"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ review.gameName }}</td>
                      <td>
                        <div *ngIf="review.isPositive">positief</div>
                        <div *ngIf="!review.isPositive">negatief</div>
                      </td>
                      <td>{{ review.reviewDate | date: 'dd/MM/yyyy' }}</td>
                      <td>
                        <i
                          class="bi bi-pencil-fill"
                          routerLink="/edit-review/{{ review._id }}"
                        ></i>
                      </td>
                      <td>
                        <i class="bi bi-trash3-fill"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <p class="lead fw-normal mb-0">Gemaakte games:</p>
              </div>
              <div
                class="container d-flex align-items-center justify-content-center flex-wrap"
              >
                <div *ngFor="let game of user.games">
                  <div class="game-container p-4">
                    <div class="card game-card" style="width: 13rem">
                      <img src="{{ game.image }}" class="card-img-top" />
                      <div class="card-body">
                        <h4>{{ game.name }}</h4>
                        <i
                          class="bi bi-pencil-fill pe-2"
                          routerLink="/edit-game/{{ game._id }}"
                        ></i>
                        <i class="bi bi-trash3-fill ps-2"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
