<div *ngIf="game">
  <section>
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 mt-5">
          <div class="card-img card mb-3">
            <img
              class="card-img img-fluid"
              src="{{ game.image }}"
              alt="Card image cap"
              id="product-detail"
            />
          </div>
        </div>
        <div class="col-lg-7 mt-5">
          <div class="details-container card">
            <div class="card-body">
              <h1 class="h2">{{ game.name }}</h1>
              <p class="h4 pt-2">Adviesprijs: €{{ game.price }}</p>
              <p class="pt-1">
                Rating: {{ game.positivePercent }}% positief
              </p>
              <p class="pb-1">
                Uitgavedatum: {{ game.releaseDate | date: 'dd/MM/yyyy' }}
              </p>

              <h6>Beschrijving:</h6>
              <p>{{ game.description }}</p>

              <h6>Categorie: {{ game.category }}</h6>

              <div class="pt-2">
                <h6>Stem acteurs:</h6>
                <ul
                  *ngFor="let actor of game.actors"
                  class="list-unstyled pb-3"
                >
                  <li>- {{ actor.name }}</li>
                  <li>&nbsp;- {{ actor.birthDay | date: 'dd/MM/yyyy' }}</li>
                  <li *ngIf="actor.isMale">&nbsp;- Man</li>
                  <li *ngIf="!actor.isMale">&nbsp;- Vrouw</li>
                </ul>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col d-grid">
                <button
                  type="submit"
                  class="btn btn-success btn-lg"
                  name="submit"
                  routerLink="/edit-game/{{ game._id }}"
                >
                  Bewerken
                </button>
              </div>
              <div class="col d-grid">
                <button
                  type="submit"
                  class="btn btn-danger btn-lg"
                  name="submit"
                  (click)="deleteGame()"
                >
                  Verwijderen
                </button>
              </div>
            </div>
          </div>
        </div>

        <h2 class="row d-flex justify-content-center pb-1 pt-5">Beoordelingen:</h2>
        <div class="row d-flex justify-content-center pb-3">
          <div class="col-lg-4 mt-2">
            <div class="details-container card">
              <div class="card-body">
                <form
                  class="row row-cols-lg-auto g-3 align-items-center"
                  [formGroup]="form"
                  (ngSubmit)="submitReview()"
                >
                  <h3>Schrijf een review:</h3>
                  <div class="col-12">
                    <div class="input-group">
                      <div class="form-floating mb-1">
                        <textarea
                          class="form-control"
                          id="beschrijving"
                          type="text"
                          placeholder="Beschrijving"
                          style="height: 7.5rem"
                          formControlName="message"
                        ></textarea>
                        <label class="form-labels" for="beschrijving"
                          >Geef hier je mening...</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-floating">
                      <select
                        class="form-select"
                        id="floatingSelect"
                        formControlName="isPositive"
                      >
                        <option value="1">positief</option>
                        <option value="0">negatief</option>
                      </select>
                      <label class="form-labels" for="floatingSelect"
                        >Rating</label
                      >
                    </div>
                    <div class="col-12 pt-4">
                      <button type="submit" class="btn btn-primary">
                        Toevoegen
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div
          class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded"
        >
          <ul *ngFor="let review of game.reviews">
            <li class="list-unstyled">
              <div class="row d-flex justify-content-center pb-3">
                <div class="col-md-10">
                  <div class="card review">
                    <div class="card-body m-3">
                      <div class="row">
                        <div
                          class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0"
                        >
                          <i
                            *ngIf="review.isPositive"
                            class="positive bi bi-hand-thumbs-up"
                          ></i>
                          <i
                            *ngIf="!review.isPositive"
                            class="negative bi bi-hand-thumbs-down"
                          ></i>
                        </div>
                        <div class="col-lg-8">
                          <p class="mb-4">
                            {{ review.message }}
                          </p>
                          <p class="fw-bold lead mb-2">
                            <strong>{{ review.userName }}</strong>
                          </p>
                          <p class="lead mb-2">
                            {{ review.reviewDate | date: 'dd/MM/yyyy' }}
                          </p>
                          <i class="icons bi bi-person-add"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
